language: node_js
node_js:
  - "6"
  - "6.1"
  - "5.11"
services:
  - docker
before_install:
  - docker build -t lobinhaxd/react .
  - docker run -d -p 127.0.0.1:80:8080 lobinhaxd/react
  - sleep 5
  - docker ps -a
  - curl -l http://127.0.0.1
script:
  - docker-compose up -d
  - sleep 5
  - curl -l http://127.0.0.1:8080

